<configuration>
 <system.webServer>
   <handlers>
    <add name="Python FastCGI"
       path="*"
       verb="*"
       modules="FastCgiModule"
       scriptProcessor="c:\arcgis-license-tracker\venv\scripts\python.exe|c:\arcgis-license-tracker\venv\lib\site-packages\wfastcgi.py"
       resourceType="Unspecified"
       requireAccess="Script" />
   </handlers>
 </system.webServer>
 <appSettings>
   <!-- Required settings -->
   <add key="WSGI_HANDLER" value="app.app" />
   <add key="PYTHONPATH" value="C:\arcgis-license-tracker" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="C:\iis-logs\arcgis-license-tracker.log" />
 </appSettings>
 </configuration>