
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

.panel-header{
border-bottom: 1px solid gray;
font-size:x-large;
margin-bottom:20px;
}

.card-header{
padding:5px 10px;
color:#004575;
background-color:#d1dbe6;
    margin-top:0;
}

.loader{
    display:block;
    margin:auto;
}

.dashbuttons a{
    text-decoration: none;
    color: rgb(73, 73, 73);
}

div.card-hover a{
  text-decoration:  none !important
}
div.card-hover{
  color: #4e4e4e;
  text-decoration: none;
}
div.card-hover:hover{
    color: #4e4e4e;
    background-color: white;
    text-decoration: none;
    box-shadow: 0 0 5px 1px #9c9c9c;
}

div.dt-buttons{
        margin-left: 50px;
    padding-top: 26px;
}

/*.table-minimum{*/
    /*width:90%;*/
    /*margin:auto;*/
    /*border:none;*/
/*}*/

.table-minimum{
    /*width:95%;*/
    margin:auto;
    /*border:1px solid #000;*/
        /*border: 1px solid #e44d3c;*/
    font-size: small;
}
.table-minimum tbody tr{
    background-color: #fff;
}


.table-minimum tbody td, .table-minimum thead th{
    border-left: none;
    border-right: none;
    padding: 0 10px;
}
.table-minimum thead{
    /*background-color: #d1dbe6;*/
    font-size: small;
     /*padding: 1px;*/
    /*border-bottom: 1px solid;*/
}
.table-minimum thead th{
    font-weight: 600;
}
.product-table thead th{
    font-weight: 600;
}

.product-table{
        margin-bottom: .02em;
}

.table-minimum tbody tr:hover {
          background-color: #fffdf4;
    }

.product-table tbody tr:hover {
          background-color: #fffdf4;
    }

.product-table tr{
          /*background-color: #f8f8f8;*/
    }
.product-table tbody td, .product-table thead th{
    border-left: none;
    border-right: none;
    /*padding: 0 10px;*/
}
/*table.table-minimum tr:hover td {*/
/*background-color: #FEFEFE;*/
/*}*/
/*.table-minimum tbody tr {*/
    /*border-bottom: 1px solid #5a5a5a;*/
/*}*/
/* Various other styles end */

.panel-green{
    color: #0a6100;;
    background-color: #ddeedb;
    border-color: #9bc19c;
}

panel-yellow{
    background-color: #f3edc7;
    border-color: #e4d154;
}
.hidden-td{
    /*background-color: #d1dbe6;*/
    /*padding: 10px 0 10px 0;*/
        /*background-color: #efefef;*/
    padding: 0 0 0 0;
    box-shadow: 0px 0px 5px #3699FF; border-collapse: separate;
}
.loading-div{
    text-align:center;
    padding:5px;
}

.server-panel{
    /*text-align: center;*/
}

.text-centered-bold{

    text-align: center;
    padding: 15px;
 background-color: #fff;
}

.no-licenses{
    background-color: #fff9d1
    /*border-color: #e4d154;*/
}
.strong{
    font-weight: 600;
}