{% extends 'layout.html' %}

{% block title %} Products {% endblock %}

{% block banner %}
    <a href="{{ url_for('products') }}" style="color:inherit">Products</a> /
    {{ request.path.split('/')[-1] | replace('-', ' ') }}
{% endblock %}

{% block content %}
    <div>
        <div class="column-18">
            <div class="card block trailer-half">
                <div class="panel modifier-class">
                    <div class="panel-header">{{ request.path.split('/')[-1] | replace('-', ' ') }} Usage</div>
                    {% if users %}
                        <table class="modifier-class table-striped display trailer-1" id="user-table" cellspacing="0"
                               width="100%">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Cumulative Time</th>
                            <th>Last Use</th>
                            <th>License Server</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class='clickable-row' data-href="{{ url_for('username', username=user.name) }}">
                                <td>{{ user.name }}</td>
                                <td data-sort="{{ user.time_sum }}">{{ user.time_sum | delta_time }}</td>
                                {% if user.time_in == None %}
                                    <td><span class="icon-ui-check-mark icon-ui-green font-size-1">Active</span></td>
                                {% else %}
                                    <td>{{ user.time_in }}</td>
                                {% endif %}
                                <td>
                                    {{ user.servername }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                        No User Data.
                    {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="column-6">
            <div class="card block trailer-half">
                <div class="panel">
                    <div class="panel-header">Product Info</div>
                    {% if info %}
                        <strong>Common Name:</strong> {{ info.common_name | replace('-',' ') }}<br>
                        <strong>Internal Name:</strong> {{ info.internal_name }} <br>
                        <strong>Category:</strong> {{ info.category | replace('-',' ') }} <br>
                        <strong>Type:</strong> {{ info.type }} <br>
                        <strong>Licenses Out:</strong> {{ info.license_out }}<br>
                        <strong>Total Licenses:</strong> {{ info.license_total }}
                    {% else %}
                        No info available.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
