{% extends 'layout.html' %}

{% block title %} Products {% endblock %}

{% block css %}

{% endblock %}


{% block banner %} Products {% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="card block trailer-1">
            <div class="panel">
                <div class="panel-header">All Products</div>
                {% if products %}
                    <table class="modifier-class table-striped display trailer-1" id="user-table" cellspacing="0"
                           width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>In Use</th>
                        <th>Total</th>
                        <th>License Server</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr class='clickable-row'
{#                            data-href="{{ url_for('product_name', sever_name=product.name, product_name=product.common_name) }}"#}
                        >
                            <td data-sort="{{ product.common_name }}">{{ product.common_name }}</td>
                            <td data-sort="{{ product.license_out }}">{{ product.license_out }}</td>
                            <td data-sort="{{ product.license_total }}">{{ product.license_total }}</td>
                            <td data-sort="{{ product.name }}">{{ product.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    No products found.
                {% endif %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}