{% extends 'layout.html' %}

{% block title %} Products {% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/chartjs/Chart.bundle.js') }}"></script>
{% endblock %}

{% block banner %}
<a href="{{ url_for('servername',servername=request.path.split('/')[-2]) }}"
   style="color:inherit">{{ request.path.split('/')[-2] }}</a> /
{{ request.path.split('/')[-1] | replace('-', ' ') }}
{% endblock %}
{% block content %}
<div class="grid-container">
    <div class="column-24">
        <div class="card block trailer-1">
            <div class="panel modifier-class">
                <div class="panel-header">Usage History

                    <label style="position:absolute;">
                        <select class="modifier-class" id="date-select">
                            <option value="3">3 days</option>
                            <option value="7">7 days</option>
                            <option value="14">14 days</option>
                            <option value="30">30 days</option>
                            <option value="60">60 days</option>
                        </select>
                    </label>
                </div>
                <canvas id="product-chart" width="700" height="150"></canvas>
                <script>

		var color = Chart.helpers.color;
		var config = {
			type: 'line',
			data: {
				datasets: [{
					label: "Unique Users",
					backgroundColor: 'transparent',
					borderColor: "#3699ff",
					fill: false,
                    data: []
				},
                {
					label: "Purchased Licenses",
					backgroundColor: 'transparent',
					borderColor: 'rgba(255, 0, 0, .5)',
					fill: false,
                    data: []
				}]
			},
			options: {
				responsive: true,
				title:{
					display:false,
					text:"License Usage"
				},
				scales: {
					xAxes: [{
						type: "time",
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Date'
						},
                        ticks: {
                            major: {
                                fontStyle: "bold",
                                fontColor: "#FF0000"
                            }
                        },
                                        time: {
                    unit: 'day'
                }
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Users'
						}
					}]
				}
			}
		};

        {% for c in chart_data %}
        var usage = {x: moment("{{c.m}}-{{c.d}}-{{c.y}}", "MM-DD-YYYY"), y:parseInt("{{c.users}}") };
        var total = {x: moment("{{c.m}}-{{c.d}}-{{c.y}}", "MM-DD-YYYY"), y:parseInt("{{c.license_total}}") };
        config.data.datasets[0].data.push(usage);
        config.data.datasets[1].data.push(total);
        {% endfor %}

		window.onload = function() {
			var ctx = document.getElementById("product-chart").getContext("2d");
			window.myLine = new Chart(ctx, config);


      function removeData(chart) {
        console.log(chart);
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

      $('#date-select').on("change",function () {
                    $.getJSON($SCRIPT_ROOT + '/_productchart', {
                      days: $(this).val(),
                      servername: {{ request.path.split('/')[-2]|tojson }},
                      productname: {{ request.path.split('/')[-1]|tojson }}
                    }, function(data) {
                      myLine.chart.config.data.datasets[0].data = []
                      myLine.chart.config.data.datasets[1].data = []
                      myLine.update();
                          if(data.result){
                          data.result.forEach(function (item){
                             var usage = {x: moment(item[2] + "-" + item[3] + "-" + item[4], "MM-DD-YYYY"), y:parseInt(item[0]) };
                              var total = {x: moment(item[2] + "-" + item[3] + "-" + item[4], "MM-DD-YYYY"), y:parseInt(item[1]) };
                              config.data.datasets[0].data.push(usage);
                              config.data.datasets[1].data.push(total);
                          });
                          myLine.update();
                          }
                    });
                    return false;
                });

		};

                </script>

            </div>
        </div>
    </div>
    <div class="column-18">
        <div class="card block trailer-half">
            <div class="panel modifier-class">
                <div class="panel-header">All User History</div>
                {% if users %}
                <table class="modifier-class table-striped display trailer-1" id="user-table" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>

                        <th>User</th>
                        <th>Total Time</th>
                        <th>Last Use</th>
                    </tr>
                    </thead>
                    <script>$(".loader").hide()</script>
                    <tbody>
                    {% for user in users %}
                    <tr class='clickable-row' data-href="{{ url_for('username', username=user.name) }}">
                        <td>{{ user.name }}</td>
                        <td data-sort="{{ user.time_sum }}">{{ user.time_sum | delta_time}}</td>
                        {% if user.time_in == None %}
                        <td><span class="icon-ui-check-mark icon-ui-green font-size-1">Active</span></td>
                        {% else %}
                        <td>{{ user.time_in }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% else %}
                    <script>$(".loader").hide()</script>
                    No User Data.
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="column-6">
        <div class="card block trailer-half">
            <div class="panel">
                <div class="panel-header">Product Info</div>
                {% if info %}
                <strong>Common Name:</strong> {{ info.common_name | replace('-',' ') }}<br>
                <strong>Internal Name:</strong> {{ info.internal_name }} <br>
                <strong>Category:</strong> {{ info.category | replace('-',' ') }} <br>
                <strong>Type:</strong> {{ info.type }} <br>
                <strong>Licenses Out:</strong> {{ info.license_out }}<br>
                <strong>Total Licenses:</strong> {{ info.license_total }}
                {% else %}
                No info available.
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
