{% extends 'layout.html' %}

{% block title %} Users {% endblock %}

{% block css %}

{% endblock %}


{% block banner %} Users {% endblock %}

{% block content %}
    <div class="grid-container">
    <div class="card block trailer-1">
        <div class="panel">
            <div class="panel-header">All Users</div>
            <div class="loader is-active padding-leader-3 padding-trailer-3">
                <div class="loader-bars"></div>
                <div class="loader-text">Loading...</div>
            </div>
        {% if users %}
            <table class="modifier-class table-striped display trailer-1" id="user-table" cellspacing="0" width="100%">
                <thead>
                <tr>

                    <th>User</th>
                    <th>Cumulative Time</th>
                    <th>Last Use</th>
                </tr>
                </thead>
                    <script>$(".loader").hide()</script>
                    <tbody>
                    {% for user in users %}
                        <tr class='clickable-row' data-href="{{ url_for('username', username=user.name) }}">
                            <td>{{ user.name }}</td>
                            <td data-sort="{{ user.time_sum }}">{{ user.time_sum | delta_time}}</td>
                            {% if user.time_in == None %}
                                <td><span class="icon-ui-check-mark icon-ui-green font-size-1">Active</span></td>
                            {% else %}
                                <td>{{ user.time_in }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <script>$(".loader").hide()</script>
                    No User Data.
                {% endif %}
            </table>
        </div>
    </div>
    </div>

{% endblock %}