{% extends 'layout.html' %}

{% block title %} Workstations {% endblock %}

{% block banner %}
    Workstations
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="card block trailer-1">
            <div class="panel">
                <div class="panel-header">All Workstations</div>
                {% if ws %}
                    <table class="modifier-class table-striped display trailer-1" id="ws-table" cellspacing="0"
                           width="100%">
                    <thead>
                    <tr>
                        <th>Workstation</th>
                        <th>Cumulative Time</th>
                        <th>Last Use</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for w in ws %}
                        <tr class='clickable-row' data-href="{{ url_for('workstationname', workstationname=w.name) }}">
                            <td>{{ w.name }}</td>
                            <td data-sort="{{ w.time_sum }}">{{ w.time_sum | delta_time }}</td>

                            {% if w.time_in == None %}
                                <td><span class="icon-ui-check-mark icon-ui-green font-size-1">Active</span></td>
                            {% else %}
                                <td>{{ w.time_in }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    No Workstation Data.
                {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}