{% extends "layout.html" %}

{% block title %} Dashboard {% endblock %}

{% block javascript %}{% endblock %}

{% block banner %} Dashboard {% endblock %}

{% block content %}

    <script type=text/javascript>
        $(document).ready(function () {
            var serverDivs = $(".server-div").find('.card-header');
            serverDivs.each(function (index, element) {
                $.getJSON($SCRIPT_ROOT + '/data/server/availability', {
                    servername: $(element).text()
                }, function (data) {
                    var coreHtml = "<div class='product-container'><table class='modifier-class product-table'><thead><th>Desktop Software</th><th>Available</th><th>Total</th></tr></thead><tbody>";
                    var extHtml = "<div class='product-container'><table class='modifier-class product-table'><thead><th>Extensions</th><th>Available</th><th>Total</th></tr></thead><tbody>";
                    data.forEach(function (item) {
                        if (item[0].type === "core") {
                            var href = "<a href='#'><span class='icon-ui-plus-circled icon-ui-green expand-row-button' data-server=" + $(element).text() + " data-product = '" + item[0].internal_name + "'></span></a>" +
                                "<a href = " + $SCRIPT_ROOT + "/products/" + $(element).text() + "/" + item[0].common_name + ">" + item[0].common_name + "</a>";

                            if (item[0].license_total - item[0].license_out === 0) {
                                coreHtml += '<tr class = "no-licenses"><td>' + href + "</td><td>" + (item[0].license_total - item[0].license_out) + '</td><td>' + item[0].license_total + "</td></tr>";
                            }
                            else {
                                coreHtml += '<tr><td>' + href + "</td><td>" + (item[0].license_total - item[0].license_out) + '</td><td>' + item[0].license_total + "</td></tr>";
                            }
                            coreHtml += "<tr><td colspan='3' style='display:none;' class='hidden-td'><div class='loading-div'><img src='" + $SCRIPT_ROOT + "/static/img/loader.gif'></div></td></tr>";
                        }
                        else {
                            var exthref = "<a href='#'><span class='icon-ui-plus-circled icon-ui-green expand-row-button' data-server=" + $(element).text() + " data-product = '" + item[0].internal_name + "'></span></a>" +
                                "<a href = " + $SCRIPT_ROOT + "/products/" + $(element).text() + "/" + item[0].common_name + ">" + item[0].common_name + "</a>";
                            if (item[0].license_total - item[0].license_out === 0) {
                                extHtml += "<tr class = 'no-licenses'><td>" + exthref + "</td><td>" + (item[0].license_total - item[0].license_out) + '</td><td>' + item[0].license_total + "</td></tr>";
                            }
                            else {
                                extHtml += '<tr><td>' + exthref + "</td><td>" + (item[0].license_total - item[0].license_out) + '</td><td>' + item[0].license_total + "</td></tr>";
                            }
                            extHtml += "<tr><td colspan='3' style='display:none;' class='hidden-td'><div class='loading-div'><img src='" + $SCRIPT_ROOT + "/static/img/loader.gif'></div></td></tr>";
                        }
                    });
                    coreHtml += "</tbody></table></div>";
                    extHtml += "</tbody></table></div>";
                    $("#" + $(element).text() + "-ext").html(extHtml);
                    $("#" + $(element).text() + "-products").html(coreHtml);
                });
            });
            return false;
        });

        //product availability
        $(document).on('click', '.expand-row-button', function (e) {
            e.stopPropagation();
            var theHtml;
            var data = e.target.dataset;
            var div = $(this).closest('tr').next('tr').find('td');
            div.toggle();
            $(this).toggleClass("icon-ui-plus-circled icon-ui-green expand-row-button icon-ui-minus-circled icon-ui-red expand-row-button");
            $.getJSON($SCRIPT_ROOT + '/data/product/availability', {
                servername: data.server,
                product: data.product
            }, function (d) {
                if (d.results.length) {
                    theHtml = '';
                    var row = $(div).closest('tr').prev();
                    var avail = row.children().eq(1).html();
                    var total = row.children().eq(2).html();
                    var newAvail = total - d.results.length;
                    if (total - avail !== d.results.length) {
                        row.children().eq(1).html(newAvail).effect("highlight", {}, 1000);
                        row.children().eq(1).html(newAvail);
                    }
                    if (newAvail !== 0) {
                        row.removeClass('no-licenses');
                    }
                    if (newAvail === 0) {
                        row.addClass('no-licenses');
                    }
                    theHtml += "<table class='modifier-class table-minimum'><thead><th>Active Users</th><th>Computer ID</th><th>Current Session</th></thead><tbody>";
                    d.results.forEach(function (element) {
                        var timeOut = moment.utc(element[4]).format("ddd, DD MMM YYYY HH:mm:ss");
                        var ms = moment(moment(), "ddd, DD MMM YYYY HH:mm:ss").diff(timeOut);
                        var m = moment.duration(ms);
                        //var s = Math.floor(m.asHours()) + moment.utc(m).format(":mm:ss");
                        var t = humanizeDuration(m, {largest: 1});
                        theHtml += '<tr><td><a href=' + $SCRIPT_ROOT + '/users/' + element[0] + '>' + element[0] + '</a></td><td><a href=' + $SCRIPT_ROOT + '/workstations/' + element[1] + '>' + element[1] + '</a></td><td>' + t + '</td>';
                    });
                    theHtml += '</tbody></table>';
                }
                else {
                    theHtml = '<div class="text-centered-bold"><span class="icon-ui-check-mark icon-ui-green">All Licenses Available</span></div>'
                }
                div.html(theHtml);
                return false;
            }).error(function (e) {
                theHtml = '<div class="text-centered-bold">' + e.statusText + '</div>';
                div.html(theHtml);
            });
            return false;
        });

    </script>

    <!-- Top row -->
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up dashbuttons">

        <!--Active User Count-->
        <div class="card card-bar-green block trailer-1 card-hover">
            <a href="{{ url_for('users') }}">
                <div class="card-content">
                    <div class="trailer-half">
                        <span class="icon-ui-user icon-ui-green font-size-7"></span>
                        <span class="text-right font-size-7">{% if active_users %}{{ active_users | length }}{% else %}
                            0{% endif %}</span>
                    </div>
                    <div class="font-size-2">{{ pluralize(active_users | length, 'Active User') }}</div>
                </div>
            </a>
        </div>


        <!--Total User Count-->
        <div class="card card-bar-orange block trailer-1 card-hover">
            <a href="{{ url_for('users') }}">
                <div class="card-content">
                    <div class="trailer-half">
                        <span class="icon-ui-group icon-ui-orange font-size-7"></span>
                        <span class="text-right font-size-7">{% if user_count %}{{ user_count }}{% else %}
                            0{% endif %}</span>
                    </div>
                    <div class="font-size-2">{{ pluralize(user_count, 'Total User') }}</div>
                </div>
            </a>
        </div>


        <!--Workstation Count-->
        <div class="card card-bar-blue block trailer-1 card-hover">
            <a href="{{ url_for('workstations') }}">
                <div class="card-content">
                    <div class="trailer-half">
                        <span class="icon-ui-dock-bottom icon-ui-blue font-size-7"></span>
                        <span class="text-right font-size-7">{% if workstation_count %}{{ workstation_count }}{% else %}
                            0{% endif %}</span>
                    </div>
                    <div class="font-size-2">{{ pluralize(workstation_count, 'Total Workstation') }}</div>
                </div>
            </a>
        </div>


        <!--License Server Count-->
        <div class="card card-bar-purple block trailer-1 card-hover">
            <a href="{{ url_for('servers') }}">
                <div class="card-content">
                    <div class="trailer-half">
                        <span class="icon-ui-settings2 icon-ui-purple font-size-7"></span>
                        <span class="text-right font-size-7">{% if servers %}{{ servers|length }}{% else %}
                            0{% endif %}</span>
                    </div>
                    <div class="font-size-2">{{ pluralize(servers|length, 'License Server') }}</div>
                </div>
            </a>
        </div>
        <!-- End row -->
    </div>

    {% if servers %}
        {% for s in servers %}
            <div class="card card-bar-white trailer-1 server-div">
                <div class="font-size-1 card-header">{{ s.name }}</div>
                <div class="modifier-class js-tab-group ">
                    <nav class="tab-nav">
                        <a class="tab-title js-tab is-active core-tab" href="#">Core</a>
                        <a class="tab-title js-tab ext-tab" href="#">Extensions</a>
                    </nav>
                    <section class="tab-contents products-available">
                        <div class="tab-section js-tab-section is-active" id="{{ s.name | trim }}-products">
                            <div class="core-products"></div>
                            <img src="{{ url_for('static', filename='img/loader-ie9.gif') }}" class="loader">
                        </div>
                        <div class="tab-section js-tab-section" id="{{ s.name | trim }}-ext">
                            <div class="ext-products"></div>
                            <img src="{{ url_for('static', filename='img/loader-ie9.gif') }}" class="loader">
                        </div>
                    </section>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>No license servers found.</div>
    {% endif %}


{% endblock %}
